<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor2e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}} flexrow" autocomplete="off">

        {{> "systems/tor2e/templates/sheets/items/components/item-header-card.hbs"
                item=this.item
                label="tor2e.items.armours.title"
                alt="tor2e.items.armours.tech.alt"}}

        <div class="sheet-content flexcol">
            <!-- Effect Configuration Tabs -->
            <nav class="sheet-tabs tabs">
                <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
                <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
            </nav>

            <div class="sheet-body">
                <div class="tab" data-tab="details">
                    <div class="item-row flexrow separated">
                        <div class="item-element">
                            <label for="data.protection.value-{{item.id}}">{{localize data.protection.label}}</label>
                            <input id="data.protection.value-{{item.id}}" class="number-value"
                                   name="data.protection.value"
                                   type="number"
                                   value="{{data.protection.value}}"
                                   data-dtype="{{data.protection.type}}" step="1" min="0" max="20" required>
                            <span class="validity"></span>
                        </div>
                        <div class="item-element">
                            <label for="data.load.value-{{item.id}}">{{localize data.load.label}}</label>
                            <input id="data.load.value-{{item.id}}" class="number-value" name="data.load.value"
                                   type="number"
                                   value="{{data.load.value}}"
                                   data-dtype="{{data.load.type}}" step="1" min="0" max="40" required>
                            <span class="validity"></span>
                        </div>
                    </div>
                    <div class="item-row flexrow">
                        <div class="item-element">
                            <label for="data.group.value-{{item.id}}">{{localize data.group.label}}</label>
                            <select id="data.group.value-{{item.id}}" name="data.group.value">
                                {{#select data.group.value}}
                                    {{#each config.armourGroups as |name type|}}
                                        <option value="{{type}}">{{localize name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="description flexcol">
                        <h2>{{localize data.description.label}}</h2>
                        {{editor content=data.description.value target="data.description.value" button=true
                                 owner=isOwner
                                 editable=true}}
                    </div>
                </div>
                <div class="tab flexcol" data-tab="effects">
                    {{> "systems/tor2e/templates/sheets/items/components/item-active-effects-card.hbs"
                            activeEffects=this.effects}}
                </div>
            </div>
        </div>
    </form>
</div>