<section class="flexrow" >
    {{> "systems/tor2e/templates/sheets/actors/components/stat-diamond-card.hbs"
            stat=data.fellowship
            reference="data.fellowship.value"}}

    {{> "systems/tor2e/templates/sheets/actors/components/stat-diamond-card.hbs"
            stat=data.skillPoints
            reference="data.skillPoints.value"
            extension-stat=data.skillPoints.total
            extension-reference="data.skillPoints.total.value"}}

    {{> "systems/tor2e/templates/sheets/actors/components/stat-diamond-card.hbs"
            stat=data.adventurePoints
            reference="data.adventurePoints.value"
            extension-stat=data.adventurePoints.total
            extension-reference="data.adventurePoints.total.value"}}

    {{> "systems/tor2e/templates/sheets/actors/components/stat-diamond-card.hbs"
            stat=data.treasure
            reference="data.treasure.value"}}
</section>