<li class="item activable-item {{extraCss}}" data-item-id="{{id}}">
    <div class="skill-item-row flexrow">
        <div class="identification table-complex-column flexrow">
            <div class=" flexrow editor-toggle">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor2e.traits.details.tech.alt'}}"/>
                <p>{{name}}</p>
            </div>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.group.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.protection.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.data.load.value}}</p>
        </div>
        <div class="stat-value">
            <div class="tor2e-round-checkbox">
                <p class="toggle-equipped-state {{#if data.data.equipped.value}}active{{/if}}"
                   data-primary-attribute="data.equipped.value" data-secondary-attribute="data.dropped.value">
                    <span class="label"></span>
                </p>
            </div>
        </div>
        <div class="stat-value">
            <div class="tor2e-round-checkbox">
                <p class="toggle-dropped-state {{#if data.data.dropped.value}}active{{/if}}"
                   data-primary-attribute="data.dropped.value" data-secondary-attribute="data.equipped.value">
                    <span class="label"></span>
                </p>
            </div>
        </div>
        <div class="actions">
            <a class="item-edit action" title="{{localize "tor2e.sheet.skill.edit"}}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title="{{localize "tor2e.sheet.skill.delete"}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="editor-container-toggelable flexcol">
        {{editor content=this.data.data.description.value target="this.data.description.value" button=true owner=isOwner
                 editable=false}}
    </div>
</li>