<div class="lore sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor2e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}}" autocomplete="off">

        {{> "systems/tor2e/templates/sheets/actors/partials/common/actor-header-card.hbs"
                width = 125
                height = 125}}
        <section class="hostile-friendly">
            {{> "systems/tor2e/templates/sheets/actors/partials/common/faction-slider-card.hbs"
                    reference = "data.faction.value"
                    attribute = data.faction}}
        </section>
        <div class="sheet-content">
            <section id="details" class="flexrow">
                <div class="item-row flexrow">
                    <label class="attribute-label" for="data.canBeAPatron.value">{{localize data.canBeAPatron.label}}
                        :</label>
                    <input id="data.canBeAPatron.value" name="data.canBeAPatron.value" type="checkbox"
                           value="{{data.canBeAPatron.value}}" data-dtype="{{data.canBeAPatron.type}}" {{checked
                            data.canBeAPatron.value}}/>
                </div>
                {{> "systems/tor2e/templates/sheets/actors/components/effects-card.hbs"
                        effects=effects}}
            </section>
            <section class="flexcol" id="notes">
                <h2 class="toggle">{{localize data.notes.label}}</h2>
                <div class="editor-container">
                    {{editor content=data.notes.value target="data.notes.value" button=true owner=isOwner
                             editable=true}}
                </div>
            </section>
            <section class="flexcol" id="description">
                <h2 class="toggle">{{localize data.description.label}}</h2>
                <div class="editor-container">
                    {{editor content=data.description.value target="data.description.value" button=true owner=isOwner
                             editable=true}}
                </div>
            </section>
        </div>
    </form>
</div>